@page "/auctionhouse"

<PageTitle>Auction House</PageTitle>

<h3>Live Auctions</h3>

<p>View of the live auctions on Auctionator</p>


<button type="button">Post new auction</button>


@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{   

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Price</th>
                <th>Maker</th>
                <th>Brand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Price</td>
                    <td>@item.Maker</td>
                    <td>@item.Brand</td>                  
                </tr>
            }
        </tbody>
    </table>
}

   